In [1]:
# Q.1. Convert a string “25” into an integer and add 5.
a = int("25")
print("Result is:", a+5)

Result is: 30

In [2]:
# Q.2. Convert 3.99 into an integer and print the result.
result = int(3.99)
print("The result is",result)
print(type(result))

The result is 3
<class 'int'>

In [3]:
# Q.3. Convert the number 10 into a string and print its type.
num = str(10)
print(type(num))

<class 'str'>

In [4]:
# Q.4. Convert the integer 7 into a float.
a = float(7)
print(a)
print(type(a))

7.0
<class 'float'>

In [5]:
# Q.5. Take a number as string input and add 10 to it after type casting.
number = input("Enter Your Number: ")
print(int(number)+10)

Enter Your Number:  25

35

In [6]:
# Q.6. Convert True into an integer
a = int(True)
print(a)
print(type(a))

1
<class 'int'>

In [7]:
# Q.7. Convert 0 into a boolean.
a = bool(0)
print(a)
print(type(a))

False
<class 'bool'>

In [8]:
# Q.8. Convert 45 into a string and concatenate it with “kg”.
a = str(45)
print(a + "kg")

45kg

In [9]:
# Q.9. Convert 5.75 into a string and print “The value is X”.
x = str(5.75)
print("The value is", x)

The value is 5.75

In [10]:
# Q.10. Convert the string “100.5” into a float and print it.
x = float("100.5")
print(x)
print(type(x))

100.5
<class 'float'>